   *{
     border: 0;
     margin: 0;
     padding: 0;
}            

a:hover {
                    color: orange;
               }
              
               #foot {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    width: 100%;
                    background-color: black;
               }
               #foot li {
                    width: 100%;
                    text-align: center;
                    font-size: 18px;
                    font-weight: bold;
                    width: 100%;
                    font-family: "Goldman";
               }
               #foot li a {
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    -webkit-transition: all 1s ease;
               }
              
               #foot li a:hover {
                    color: orange;
               }
             
               span a {
                    color: white;
               }
               span a:visited {
                    color: white;
               }
               span a:hover {
                    color: lightgreen;
               }
   .topnav {
     overflow: hidden;
     background: linear-gradient(to bottom right, #2c3e50 0%, #bdc3c7 100%);
     opacity: 0.8;
     font-family: "Poppins";
}
.topnav a:hover {
     background-color: #336b89;
     color: white;
}
         .topnav a:not(:first-child) {
          display: none;
     }
     .topnav a.icon {
          float: right;
          display: block;
     }
 .topnav.responsive {
          position: relative;
     }
     .topnav.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
     }
     .topnav.responsive a {
          float: none;
          display: block;
          text-align: left;
     }
     .topnav a {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 12px 20px;
     text-decoration: none;
     font-size: 17px;
}
               html {
                    background: url(back1.jpg) no-repeat center center fixed;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    background-attachment: fixed;
               }
              .container{
                     width: 90%;
                    margin: auto;
                    background: black;
                    padding: 20px;
                    border-radius: 20px;
                    opacity: 0.8;
                    margin-top: 20px;
                }
               h2 {
                    font-family: "Open Sans";
                    color: lightseagreen;
                    text-align: center;
                    font-weight: bolder;
                    font-size: 25px;
                    padding-top: 15px;
               }
               p {
                    font-family: "Poppins";
                    font-size: 15px;
                    color: white;
                    line-height: 1.8;
               }
               span {
                    color: green;
                    font-size: 15px;
                    font-weight: bold;
                    font-family:"Poppins";
               }
               span.a {
                    color: orange;
                    font-size: 15px;
                    font-weight: bold;
                    font-family: "Open Sans";
               }
.loader-wrapper {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 1;
     background-color: #242f3f;
     display: flex;
     justify-content: center;
     align-items: center;
}
.loader {
     display: inline-block;
     width: 30px;
     height: 30px;
     position: relative;
     border: 4px solid #fff;
     animation: loader 2s infinite ease;
}
.loader-inner {
     vertical-align: top;
     display: inline-block;
     width: 100%;
     background-color: #fff;
     animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
     0% {
          transform: rotate(0deg);
     }
     25% {
          transform: rotate(180deg);
     }
     50% {
          transform: rotate(180deg);
     }
     75% {
          transform: rotate(360deg);
     }
     100% {
          transform: rotate(360deg);
     }
}

@keyframes loader-inner {
     0% {
          height: 0%;
     }
     25% {
          height: 0%;
     }
     50% {
          height: 100%;
     }
     75% {
          height: 100%;
     }
     100% {
          height: 0%;
     }
}

